@use "login" as *;
@use "library" as L;
@use "profile" as *;
@use "instructions" as *;

.lobby-btn {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    width: 334px;
    height: 82px;
    text-decoration: none;
    color: L.$font-white;
    font-size: 37px;
    border-radius: 20px;


}
.lobby-img {
    width: 54px;
    margin: 1rem;
}
nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#start-game {
    background-color: L.$green;
}
#leaderboard {
    background-color: L.$yellow;
}
#profile {
    background-color: L.$maroon;
}
#left-1 {
    position: relative;
    width: 20px;
    border: solid black 2px;
    transform: rotate(45deg);
    top: -2px;
}
#left-2 {
    position: relative;
    width: 20px;
    border: solid black 2px;
    transform: rotate(-45deg);
    top: 10px;
}
#right-1 {
    position: relative;
    width: 20px;
    border: solid black 2px;
    left: 103px;
    bottom: 64px;
    transform: rotate(135deg);
}
#right-2 {
    position: relative;
    width: 20px;
    border: solid black 2px;
    transform: rotate(225deg);
    left: 103px;
    bottom: 54px;
}

#win {
    border-top: solid black 4px;
    width: 120px;
    position: relative;
    left: 5px;
    bottom: 18px;
}
article {
    margin-bottom: 20px;
}
#win-2 {
    border-bottom: solid black 4px;
    width: 120px;
    position: relative;
    left: 5px;
    bottom: 49px;
}
#win-title {
    position: relative;
    left: 40px;
    bottom: 28px;
}
#exit-btn {
    display: flex;
    justify-content: end;
    margin: 32px;
}