#login-body {
  background-image: url(./assets/kitchen.background.desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;
}

.start-btn {
  width: 280px;
  height: 78px;
  border-radius: 48px;
  border: solid #4c2d1a 6px;
  font-size: 30px;
  text-decoration: none;
  color: #4c2d1a;
  background-color: #979e37;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo {
  width: 216px;
  border: solid #4c2d1a 6px;
  border-radius: 25px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 5rem;
}

.register {
  display: flex;
  justify-content: center;
  margin-top: 20rem;
}

.register-form, .update-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.register-form > input, .update-form > input {
  width: 324px;
  height: 49px;
  border-radius: 20px;
  font-size: 20px;
  padding: 10px;
  background-color: #d9d9d9;
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  border: solid #4c2d1a 4px;
}

#register-btn {
  background-color: #9a4d52;
}

.chose-pic {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.chose-pic > form > select {
  border-radius: 20px;
  font-size: 20px;
  color: #4c2d1a;
  border: solid #4c2d1a 4px;
}

#profile-header {
  justify-content: space-between;
}

.profile-pic {
  width: 220px;
  margin: 2rem 0;
}
@media (max-width: 400px) {
  .profile-pic {
    width: 165px;
  }
}

#delete-account {
  font-size: 1.5rem;
  text-align: center;
}
@media (max-width: 400px) {
  #delete-account {
    font-size: 1rem;
  }
}

.primary-btn {
  width: 155px;
  height: 43px;
  border: solid #4c2d1a 4px;
  border-radius: 26px;
  font-size: 1.25rem;
  background-color: #979e37;
  color: #e0e2c3;
}

#stats {
  border: solid #4c2d1a 6px;
  width: 340px;
  height: 200px;
  border-radius: 20px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: #4c2d1a;
  border-bottom: solid #4c2d1a 1px;
  width: 132px;
  text-align: center;
  margin-bottom: 1rem;
}

.stats-container {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.stats-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stats-box > .stats-trophy {
  width: 54px;
}
.stats-box > .stats-label {
  width: 120px;
}
.stats-box > h3 {
  font-size: 3rem;
  color: #4c2d1a;
}

.instructions-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 2rem;
}
.instructions-container .players {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.instructions-container .players .player {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.instructions-container .players .vs-icon {
  font-size: 2.2rem;
  color: #9a4d52;
  font-weight: bold;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.instructions-container .instruction-text {
  max-width: 500px;
  margin: 2rem auto;
  text-align: center;
  color: #4c2d1a;
  font-size: 1rem;
}
.instructions-container .instruction-text strong {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}
.instructions-container .game-id {
  background-color: #e0e2c3;
  color: #4c2d1a;
  font-weight: bold;
  font-size: 1rem;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  border: 3px solid #4c2d1a;
  padding: 0.2rem 0.8rem;
  border-radius: 2rem;
  position: absolute;
  bottom: 1rem;
  right: 9rem;
}

.top3-pics {
  top: 14rem;
  height: 11rem;
  position: absolute;
}
.top3-pics > :first-child {
  position: relative;
  top: 32px;
}
.top3-pics > :last-child {
  position: relative;
  top: 60px;
}
@media (max-width: 400px) {
  .top3-pics {
    top: 10rem;
  }
}

.leaderboard {
  width: 400px;
  margin: 0 auto;
}

.leader-pic {
  width: 100px;
  margin: 0.4rem;
  border-radius: 50px;
  box-shadow: inset 0px 0px 10px #504f4f;
}

.leader-stage {
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.leader-block {
  width: 106px;
  border-radius: 20px 20px 0 0;
  text-align: center;
  padding: 0.5rem;
  font-size: 40px;
  color: #4c2d1a;
}

#block-green {
  height: 108px;
  background-color: #979e37;
}

#block-yellow {
  height: 149px;
  background-color: #f6b255;
}

#block-maroon {
  height: 60px;
  background-color: #9a4d52;
}

.total-wins-label {
  color: #4c2d1a;
  width: 100%;
  margin-right: 3rem;
  text-align: end;
  margin-top: 1rem;
}

.player-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.rank-nr {
  border: solid 4px #4c2d1a;
  border-radius: 20px;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4c2d1a;
  background-color: #d9d9d9;
}

#rank-badge-nr1 {
  background-color: #f6b255;
}

#rank-badge-nr2 {
  background-color: #979e37;
}

#rank-badge-nr3 {
  background-color: #9a4d52;
}

.player-name {
  border-radius: 20px;
  border: solid #4c2d1a 4px;
  color: #4c2d1a;
  width: 174px;
  margin-left: 2rem;
  text-align: left;
  padding: 0 0.8rem;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
}

.player-wins {
  margin-left: 2rem;
  width: 48px;
  border-radius: 20px;
  border: solid #4c2d1a 4px;
  color: #4c2d1a;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
}

body {
  background-color: #f3e0c8;
}

main {
  margin: 0 auto;
}
@media (min-width: 660px) {
  main {
    max-width: 80%;
  }
}

header {
  display: flex;
  justify-content: flex-end;
  margin: 32px;
}
@media (max-width: 400px) {
  header {
    margin: 32px 16px 32px 16px;
  }
}

.title {
  font-size: 4rem;
  opacity: 70%;
}
@media (max-width: 400px) {
  .title {
    font-size: 2rem;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 400px) {
  section {
    width: 400px;
  }
}

.lobby-btn {
  display: flex;
  align-items: center;
  width: 334px;
  height: 82px;
  text-decoration: none;
  color: #e0e2c3;
  font-size: 35px;
  border-radius: 20px;
  border: solid #4c2d1a 6px;
}

.lobby-img {
  width: 54px;
  margin: 1rem;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#start-game {
  background-color: #979e37;
}

#leaderboard {
  background-color: #f6b255;
}

#profile {
  background-color: #9a4d52;
}

#exit-btn {
  display: flex;
  justify-content: flex-end;
  margin: 32px;
}
@media (max-width: 400px) {
  #exit-btn {
    margin: 16px;
  }
}

.back-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e25937;
  border-radius: 48px;
  border: solid #4c2d1a 6px;
  font-size: 2.25rem;
  width: 132px;
  height: 84px;
  text-decoration: none;
  color: #4c2d1a;
}
@media (max-width: 400px) {
  .back-btn {
    width: 90px;
    height: 54px;
    font-size: 24px;
  }
}

#error {
  display: flex;
  justify-content: center;
  align-items: center;
}
#error > img {
  width: 800px;
}

#error-title {
  width: 25rem;
  font-size: 80px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #4c2d1a;
  text-align: center;
}/*# sourceMappingURL=app.css.map */