* {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#login-body {
  background-image: url(./assets/kitchen.background.desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;
}

.start-btn {
  width: 280px;
  height: 78px;
  border-radius: 48px;
  border: solid #4c2d1a 6px;
  font-size: 30px;
  text-decoration: none;
  color: #4c2d1a;
  background-color: #979e37;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo {
  width: 216px;
  border: solid #4c2d1a 6px;
  border-radius: 25px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 5rem;
}

.register {
  display: flex;
  justify-content: center;
  margin-top: 20rem;
}

.register-form, .update-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.register-form > input, .update-form > input {
  width: 324px;
  height: 49px;
  border-radius: 20px;
  font-size: 20px;
  padding: 10px;
  background-color: #d9d9d9;
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#register-btn {
  background-color: #9a4d52;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 32px;
}

.profile-pic {
  width: 220px;
  margin-bottom: 2rem;
}

#delete-account {
  font-size: 1.5rem;
  text-align: center;
}

.primary-btn {
  width: 155px;
  height: 43px;
  border: solid #4c2d1a 4px;
  border-radius: 26px;
  font-size: 1.25rem;
  background-color: #979e37;
  color: #e0e2c3;
}

* {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html, body {
  margin: 0;
  overflow: hidden;
}

.instructions-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 2rem;
}
.instructions-container h1 {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  color: #4c2d1a;
  margin-bottom: 2rem;
}
.instructions-container .players {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.instructions-container .players .player {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.instructions-container .players .vs-icon {
  font-size: 2.2rem;
  color: #9a4d52;
  font-weight: bold;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.instructions-container .instruction-text {
  max-width: 500px;
  margin: 2rem auto;
  text-align: center;
  color: #4c2d1a;
  font-size: 1rem;
}
.instructions-container .instruction-text strong {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}
.instructions-container .start-btn {
  all: unset;
  background-color: #979e37;
  color: #e0e2c3;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.2rem 2rem;
  border: 3px solid #4c2d1a;
  border-radius: 2rem;
  text-align: center;
  margin-top: 1rem;
  cursor: pointer;
}
.instructions-container .game-id {
  background-color: #e0e2c3;
  color: #4c2d1a;
  font-weight: bold;
  font-size: 1rem;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  border: 3px solid #4c2d1a;
  padding: 0.2rem 0.8rem;
  border-radius: 2rem;
  position: absolute;
  bottom: 1rem;
  right: 9rem;
}

header {
  display: flex;
  justify-content: end;
  margin: 32px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3e0c8;
}

main {
  max-width: 80%;
  margin: 0 auto;
}

.title {
  font-size: 4rem;
  opacity: 70%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lobby-btn {
  display: flex;
  align-items: center;
  width: 334px;
  height: 82px;
  text-decoration: none;
  color: #e0e2c3;
  font-size: 37px;
  border-radius: 20px;
}

.lobby-img {
  width: 54px;
  margin: 1rem;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#start-game {
  background-color: #979e37;
}

#leaderboard {
  background-color: #f6b255;
}

#profile {
  background-color: #9a4d52;
}

#exit-btn {
  display: flex;
  justify-content: end;
  margin: 32px;
}

.back-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e25937;
  border-radius: 48px;
  border: solid #4c2d1a 6px;
  font-size: 2.25rem;
  width: 132px;
  height: 84px;
  text-decoration: none;
  color: #4c2d1a;
}/*# sourceMappingURL=app.css.map */